@import "css-base.scss";
@import "fonts.scss";
@import "mixin.scss";

.firstArticle{
    p{
      color: blue;
    }
}
.secondArticle{
  font-size: $dimensionText;
  .secondParagraph{
    text-align: center;
    width: 500px;
    height: 300;
  }
}
.thirdDiv{
  margin-top: 100px;
  .thirdArticle{
    font-style: italic;
    span{
      font-size: $dimensionText;
      color: red;
    }
  }
}

.imageBatman{
  img.center{
    display: block;
    margin: 0 auto;
    width: 80em;
  }
}
